<div class="card card-container" style="background-color:palegreen">
  <p>login</p>
  <form #fLogin="ngForm" (ngSubmit)="onSubmitLogin(fLogin);">
    <div class="form-group">
      <input type="email" id="email" name="mail" ngModel class="form-control" placeholder="nome@email.com">
    </div>
    <div class="form-group">
      <input type="password" id="password" name="pass" ngModel class="form-control" placeholder="Crie uma senha" required>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-in btn-block" role="button">
       Entrar
     </button>
    </div>
    <p class="text-right">Sem conta? <a [routerLink]="['/passo-1']"><strong>Cadastre-se</strong></a>.</p>
    <p class="text-center">Ou</p>

    <div class="form-group">
      <a class="btn btn-fb btn-block">
       <i class="fa fa-facebook"></i> Facebook</a>
    </div>
    <div class="form-group">
      <a class="btn btn-tw btn-block">
         <i class="fa fa-twitter"></i> Twitter</a>
    </div>
  </form>
</div>