

<div class="card card-container">
  <form #form="ngForm" (ngSubmit)="onSubmit(form);">
    <div class="form-group" [class.has-error]="!email.valid && email.touched">
      <input type="email" id="email" name="email" ngModel class="form-control" placeholder="nome@email.com" autofocus required email #email="ngModel">
      <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
        Email inválido.
      </div>
    </div>
    <div class="form-group" [class.has-error]="!senha.valid && senha.touched">
      <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Crie uma senha" required #senha="ngModel">
      <div *ngIf="!senha.valid && senha.touched" class="alert alert-danger" role="alert">
        Senha inválido.
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-in btn-block" role="button"
      [disabled]="!form.valid">
       Entrar
     </button>
   </div>
   <p class="text-center">OU</p>

   <div class="form-group">
     <a class="btn btn-fb btn-block">
       <i class="fa fa-facebook"></i> Facebook</a>
     </div>
     <div class="form-group">
       <a class="btn btn-tw btn-block">
         <i class="fa fa-twitter"></i> Twitter</a>
       </div>


     </form>
   </div>