<h1 class="title">
  {{ title }}
</h1>

<div class="row">
  <div class="col-xs-6 col-md-4">
    <a class="thumbnail" >
      <img class="img" (click)="log(1);" [routerLink]="['/signup']" src="../../assets/img/saude3.png">
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a class="thumbnail">
      <img class="img" (click)="log(2);" [routerLink]="['/signup']" src="../../assets/img/fome11.png">
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a class="thumbnail">
      <img class="img" (click)="log(3);" [routerLink]="['/signup']" src="../../assets/img/ambiente2.png">
    </a>
  </div>
</div>

<div class="bar">
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="99" style="width: 100%;">
      3/3
    </div>
  </div>
</div>