<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <!-- <a routerLink=""> -->
        <p class="navbar-left name">
          <i class="fa fa-heart" aria-hidden="true"></i>
          _SoulSolidário 
          <i *ngIf="!(authState | async); then logue else logado"></i>
          <ng-template #logado>Hey, {{ name }} <a (click)="logout()" class="btn btn-primary">Sair</a></ng-template>
          <ng-template #logue><a href="">Faça login</a></ng-template>
        </p>
      <!-- </a> -->
    </div>
    <a routerLink="/login" class="navbar-right" id="signIn">Login</a>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
