<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <!-- <a routerLink=""> -->
        <p class="navbar-left name">
          <i class="fa fa-heart" aria-hidden="true"></i>
          _SoulSolidário
        </p>
      <!-- </a> -->
    </div>
    <span *ngIf="(user | async)?.uid; then logado else logue"></span>
    <ng-template #logado><a (click)="logout()" class="navbar-right" id="signIn">Sair</a></ng-template>
    <ng-template #logue><a routerLink="/login" class="navbar-right" id="signIn">Entrar</a></ng-template>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
