.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.size {
    font-size: 12px;
}

.name {
  color: #337ab7;
  margin-top: 15px;
  font-size: medium;
  font-family: sans-serif;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-in {
   background-color: #337ab7;
   color:white;
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-gg {
    color: white;
    background-color: red;

}

.btn-gt {
   background-color: black;
   color: white;
}